@inherits LayoutComponentBase

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager

<PageTitle>YATM</PageTitle>

<Layout>
    <Header>
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"1"})>
            <MenuItem Key="1" RouterLink="/">Доски</MenuItem>
            <MenuItem Key="2" RouterLink="/notes">Заметки</MenuItem>
            <MenuItem Key="3" RouterLink="/health">Здоровье</MenuItem>
        </Menu>
    </Header>
    <Content Class="content" Style="overflow: auto;">
        <div class="site-layout-content">@Body</div>
    </Content>
    <Footer Class="footer">YATM - Yet Another Task Manager - Еще один менеджер задач!</Footer>
</Layout>

<style>
    .logo {
        width: 32px;
        height: 32px;
        background: url("favicon.png");
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is null || !user.Identity.IsAuthenticated)
            navManager.NavigateTo("/Identity/Account/Login");
        await base.OnInitializedAsync();
    }
}