@inherits LayoutComponentBase

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager

<PageTitle>YATM</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is null || !user.Identity.IsAuthenticated)
            navManager.NavigateTo("/Identity/Account/Login");
        await base.OnInitializedAsync();
    }
}