@inherits LayoutComponentBase

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navManager

<PageTitle>YATM</PageTitle>

<Layout Class="layout">
    <Header>
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"1"})>
            <MenuItem Key="1">Доски</MenuItem>
        </Menu>
    </Header>
    <Content>
        <div class="site-layout-content">@Body</div>
    </Content>
    <Footer Style="text-align: center; color: white; background-color: #001529;">YATM - Yet Another Task Manager - Еще один менеджер задач!</Footer>
</Layout>

<style>
    .logo {
        width: 32px;
        height: 32px;
        background: url("favicon.png");
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is null || !user.Identity.IsAuthenticated)
            navManager.NavigateTo("/Identity/Account/Login");
        await base.OnInitializedAsync();
    }
}