@using System.Timers;

<div class="timer">
    <div class="timer__elapsed">
        @timeElapsed
    </div>
    <Button Size="@ButtonSize.Small" OnClick="Stop" Icon="@(isRunning && timeElapsed != defaultElapsedLabel ? IconType.Outline.Pause : IconType.Outline.Stop)" />
    <Button Size="@ButtonSize.Small" OnClick="Start" Icon="@IconType.Outline.CaretRight" />
</div>

@code {
    private const string defaultElapsedLabel = "00:00:00";

    private bool isRunning = false;
    private string? timeElapsed;
    private Timer? timer;
    private DateTime startTime;
    private TimeSpan elapsedBeforePause = TimeSpan.Zero;

    protected override Task OnInitializedAsync()
    {
        timeElapsed = defaultElapsedLabel;

        return base.OnInitializedAsync();
    }

    public void Start()
    {
        if (!isRunning)
        {
            startTime = DateTime.Now - elapsedBeforePause;
            timer = new Timer(1000);
            timer.Elapsed += OnTimerElapsed;
            timer.Start();
            isRunning = true;
        }
    }

    public void Stop()
    {
        if (isRunning && timer != null)
        {
            timer.Stop();
            timer.Dispose();
            timer = null;
            elapsedBeforePause = DateTime.Now - startTime;
            timeElapsed = elapsedBeforePause.ToString(@"hh\:mm\:ss");
            isRunning = false;
        }
        else
        {
            elapsedBeforePause = TimeSpan.Zero;
            timeElapsed = defaultElapsedLabel;
        }
    }

    private void OnTimerElapsed(object? sender, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            var elapsedTime = DateTime.Now - startTime;
            timeElapsed = elapsedTime.ToString(@"hh\:mm\:ss");
            StateHasChanged();
        });
    }
}
