@page

@model YATM.Areas.Identity.Pages.Account.LoginModel

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <h3 class="mb-5">Ты кто такой?</h3>
                        <form method="post">
                            <div class="mb-3">
                                <label asp-for="Input.UserName" class="form-label"></label>
                                <input asp-for="Input.UserName" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="Input.Password" class="form-label"></label>
                                <input asp-for="Input.Password" class="form-control" />
                            </div>
                            <div class="mb-3 form-check">
                                <input asp-for="Input.RememberMe" class="form-check-input" />
                                <label asp-for="Input.RememberMe" class="form-check-label"></label>
                            </div>
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>